@import url("../../Common/CSS/style.module.css");

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, var(--azul-principal) 0%, var(--azul-secundario) 22.4%, var(--azul-secundario) 80.21%, var(--azul-principal) 100%);
    border: 1px solid var(--azul-secundario);
    border-radius: 25px;
    width: 300px;
    height: 245px;
    margin: auto;
    .formulario_texto{
        font-size: 16px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        align-self: flex-start;
    }
    .alerta_erro{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
}

.formulario_medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, var(--azul-principal) 0%, var(--azul-secundario) 22.4%, var(--azul-secundario) 80.21%, var(--azul-principal) 100%);
    border: 1px solid var(--azul-secundario);
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: auto;
    padding-bottom: 1rem;

    .formulario_texto{
        font-size: 16px;
        color: white;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        align-self: flex-start;
    }
    
    .alerta_erro{
        font-size: 12px;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .formulario{
        width: 600px;
    }
    
    .formulario_medio{
        width: 600px;
    }
}
