@import url("../../Common/CSS/style.module.css");

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cinza-principal);
  .titulo__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .titulo{
      font-size: 20px;
      font-weight: 400;
      margin: -10px;
      text-align: center;
      color: var(--azul-principal);
      font-family: var(--fonte-logo);
      -webkit-text-stroke: 1px var(--azul-secundario);
    }
  }

  .svg{
    -webkit-text-stroke: 1px var(--azul-secundario);
  }
}

