@import url("../../Common/CSS/style.module.css");

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cinza-principal);
  .titulo__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .titulo{
      font-size: 20px;
      font-weight: 400;
      margin: -10px;
      text-align: center;
      color: var(--azul-principal);
      font-family: var(--fonte-logo);
      -webkit-text-stroke: 1px var(--azul-secundario);
    }
  }

  .svg{
    -webkit-text-stroke: 1px var(--azul-secundario); /* Para inserir uma borda azul no svg */
  }

  .modal_navbar {
    position: fixed;
    right: 0%;
    top: 0%;
    width: 160px;
    height: auto;
    background-color: var(--azul-secundario);
    z-index: 999;
    border: 1px solid var(--azul-principal);
    border-radius: 0px 0px 0px 15px;
    padding: 1rem;
    transform: translateX(100%); /* Inicialmente, esconde o menu */
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave */
  
    &.active {
      transform: translateX(0); /* Quando o modal estiver ativo, traz o menu de volta para a tela */
    }
    
    .modal_navbar_content {
      display: flex;
      justify-content: flex-end;
      padding-right: 0.5rem;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid var(--cinza-principal);
      
      &:last-child {
        border-bottom: none;
      }
      
      .modal_navbar_content_text {
        color: white;
      }
    }
  }
}

