@import url("../../Common/CSS/style.module.css");

.modal{
    width: 300px;
    height: 500px;
    margin: auto;
    border: 1px solid var(--azul-secundario);
    border-radius: 25px;
    background: linear-gradient(180deg, var(--azul-principal) 0%, var(--azul-secundario) 22.4%, var(--azul-secundario) 80.21%, var(--azul-principal) 100%);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    p{
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }
}

@media screen and (min-width: 768px){
    .modal{
        width: 700px;
    }
}