@import url('../../Common/CSS/style.module.css');

.balao{
    width: 300px;
    height: 75px;
    margin: auto;
    background-color: var(--azul-principal);
    border: 1px solid var(--azul-secundario);
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    p{
        color: black;
        font-size: 12px;
        text-wrap: wrap;
    }
    .texto_botao{
        padding-left: 1rem;
    }

    .botao_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 5px;
        p{
            text-align: center;
            margin: 0;
            padding: 0;
        }

    }
}