@import url('../../Common/CSS/style.module.css');

.chat_options{
    position: relative;
    margin: 0 10px;
    text-align: right;
}

.chat_options_window{
    position: fixed;
    width: 180px;
    z-index: 999;
    top: 18%;
    right: 0%;
    background-color: var(--azul-secundario);
    border-radius: 15px;
    border: 1px solid var(--azul-principal);
    padding: 0.5rem 1rem;
    transform: translateX(100%); /* Inicialmente, esconde o menu */
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave */
    &.active {
        transform: translateX(-12%); /* Quando o modal estiver ativo, traz o menu de volta para a tela */
    }

    .chat_options_container{
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 0.8rem 0;
        border-bottom: 1px solid white;
        align-items: center;
        &:last-child{
            border:none;
        }
    }
}

.chat_container{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    .chat_titulo{
        padding: 1rem 0 0 1rem;
    }
    .chat_income{
        display: flex;
        flex-direction: column;
        gap: 0;
        .chat_income_text{
            color: var(--cinza-principal);
            font-size: 12px;
            padding: 0.5rem 0 0 1rem;
        }
        .chat_income_balao{
            width: 280px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--azul-principal);
            background-image: linear-gradient(var(--cinza-secundario), var(--cinza-principal),var(--cinza-secundario));
            border-radius: 15px;
            padding: 0 0.3rem;
            .chat_content{
                color: white;
                padding: 1rem;
            }
            .chat_lido{
                justify-self: end;
                text-align: center;
                .chat_lido_texto{
                    font-size: 12px;
                    color: white;
                }
            }
        }

    }

    .chat_outcome{
        display: flex;
        flex-direction: column;
        gap: 0;
        .chat_outcome_text{
            color: var(--cinza-principal);
            font-size: 12px;
            padding: 0.5rem 1rem 0 0;
            text-align: right;
        }
        .chat_outcome_balao{
            width: 280px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--azul-principal);
            background-image: linear-gradient(var(--azul-principal), var(--azul-secundario));
            border-radius: 15px;
            padding: 0 0.3rem;
            .chat_content{
                color: white;
                padding: 1rem;
                word-break: break-all;
            }
            .chat_content_deletado{
                color: var(--cinza-principal);
                font-size: 12px;
                font-style: italic;
            }
            .chat_deletar_mensagem_container{
                padding: 1rem;
                .chat_deletar_mensagem{
                    cursor: pointer;
                    margin: 1rem;
                    font-size: 12px;
                    text-align: center;
                }
                .chat_deletar_mensagem_buttons{
                    display: flex;
                    flex-direction: row;
                    gap: 3rem;
                }
            }

        }
    }

    .chat_container_scroll_button{
        display: flex;
        width: fit-content;
        padding: 0.3rem;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        animation: botaoSaltitante 0.5s infinite;
        background-image: linear-gradient(var(--azul-principal), var(--azul-secundario));
        border: 1px solid var(--azul-principal);
        border-radius: 15px;
    }

    @keyframes botaoSaltitante {
        50% {
            transform: translateY(5px);
        }
    }
}

.chat_submit{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .chat_submit_botao{
        width: 220px;
        height: 57px;
        background: var(--azul-principal);
        border-radius: 90px;
        cursor: pointer;
        border: 1px solid var(--azul-secundario);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        .chat_submit_botao_texto{
            color: black;
            padding: 0;
        }
    }
}
