@import url("../../style.css");


.conteudo{
    background: linear-gradient(180deg, #FFF 0%, var(--azul-principal) 100%);
    width: 100%;
    height: 75vh;
    padding-bottom: 1rem;
    .titulo{
        text-align: center;
        font-size: 16px;
        font-family: var(--font-principal);
        font-weight: 400;
    }
}

