@import url("../../style.css");

.navbar{
  display: flex;
  justify-content: space-between;
  .titulo__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    .titulo{
      font-size: 20px;
      font-weight: 400;
      margin: -10px;
      text-align: center;
      color: var(--azul-principal);
      font-family: var(--fonte-logo);
      -webkit-text-stroke: 1px var(--azul-secundario);
    }
  }
  
}

